@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  margin-bottom: 2rem;
  min-height: 100vh;
  filter: none;
}

.modal_wrapper {
  filter: blur(0px);
}

/* -----------------    Search Input   -------------------  */

/* .search-input {
  width: 30rem;
  height: 2.5rem;
  outline: none;
  border: 2px solid #d1a103;
  border-radius: 0.5rem;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.2s;
  color: rgb(82, 81, 81);
  padding: 0 0 0 5px;
}

.search-input:focus {
  transform: translateY(-3px);
} */

/* -----------------    Search Input   -------------------  */

/* ------------------------------------  */

/* ------------------------------------  */

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.5rem;
}
.form label {
  margin: 0 2rem 0 0;
}

.form div {
  padding: 1rem;
}

.signupBtn {
  padding: 1rem;
  border-radius: 1rem;
  width: 10rem;
  border: none;
  color: #ac8403;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Roboto Mono", sans-serif;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.nav-right a.active {
  background-color: rgb(226, 226, 226);
}

.signupBtn:hover {
  color: white;
  background-color: black;
  transform: scale(1.05);
}

/* ------------------------------------  */

.container {
  max-width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

/* *************** */

.header {
  align-self: stretch;
}

.header .fast-pizza {
  /* Non-accessible color */
  color: #edc84b;
  /* color: #af8602; */

  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.header .fast-pizza::before,
.header .fast-pizza::after {
  display: block;
  content: "";
  height: 3px;
  width: 12rem;
  background-color: #edc84b;
  position: absolute;
  top: calc(50% - 1px);
}

.header .fast-pizza::before {
  left: 0;
}

.header .fast-pizza::after {
  right: 0;
}

/* *************** */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.menu h2 {
  display: inline-block;
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu > p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

.menu select {
  background-color: #ac8403;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

.menu select:hover {
  background-color: #8d6c01;
}
.menu select option {
  border-radius: 1px;
}

.pizzas {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.5rem;
}

.pizza {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  transition: all 0.2s;
  padding: 1.5rem;
  border-radius: 2.5rem;
  border: 1px solid #f3e5a9;
  filter: drop-shadow(50% black);
}

.card a {
  text-decoration: none;
  color: black;
}

.pizza img {
  display: block;
  width: 12rem;
  aspect-ratio: 1;
  border-radius: 1.5rem;
  height: 16rem;
  width: 16rem;
}

.pizza div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.4rem 0;
  border-radius: 7px;
}

.pizza h3 {
  font-size: 2rem;
  font-weight: 400;
}

.pizza p {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.pizza span {
  font-size: 1.6rem;
}

.pizza.sold-out {
  color: #888;
}

.pizza.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

.pizza .shopping-cart {
  size: 3rem;
}

.pizza .rating-price {
  padding: 0 15px 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rating-price button {
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
  font-size: 16px;
  background-color: #d1b65c4f;
  cursor: pointer;
  color: grey;
  font-family: "Roboto Mono", sans-serif;
}

.rating-price button.disable {
  cursor: not-allowed;
  background-color: rgba(128, 128, 128, 0.082);
}

.rating-price button.disable:hover {
  background-color: rgba(128, 128, 128, 0.082);
  color: gray;
}

.rating-price button:hover {
  color: black;
  background-color: #d1b65c85;
}

/* *************** */

.footer {
  font-size: 1.4rem;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #e9bb24;
}

/* -------------------------    UTILS   ---------------------------*/

.utils {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-input__div {
  width: 60rem;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  border: 2px solid rgba(207, 207, 207, 0.705);
  border-radius: 1.5rem;
  font-family: "Roboto Mono", sans-serif;
}

.search-input__div label {
  color: white;
  font-size: 20px;
  margin: 0 1rem 0 0;
  font-weight: 550;
  color: black;
}

.search-input__div input {
  outline: none;
  border: none;
  border-radius: 1rem;
  width: 20rem;
  padding: 0 0 0 1rem;
  height: 4rem;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.search-input__div input:focus {
  width: 30rem;
  transform: all 0.2s;
  animation: bounce 0.2s;
}

@keyframes bounce {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1.01);
  }
}

.filter__div {
  padding: 2.1rem;
  margin: 0 0 0 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(207, 207, 207, 0.705);
  border-radius: 1.5rem;
  cursor: pointer;
  color: rgb(75, 75, 75);
}

.filter__div:hover {
  color: black;
}

.filter__div p {
  font-size: 2rem;
  margin: 0 0 0 1rem;
}

.font-awesome-slider {
  font-size: 20px;
}

/* .sort-data__div {
  padding: 1rem;
  margin: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(207, 207, 207, 0.705);
  border-radius: 1.5rem;
  cursor: pointer;
  color: rgb(75, 75, 75);

  background-color: white;
}
 */
/* -------------------------    UTILS   ---------------------------*/

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
