.new-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  font-size: 2rem;
}

.new-form Form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #ffffffd5;
  border: none;
  border-radius: 2rem;
}

.new-form Form h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 5rem;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
}

.new-form input {
  width: 60rem;
  height: 5rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1.8rem;
  background-color: rgb(245, 245, 245);
}

.new-form label {
  font-family: 900;
  text-align: left;
  margin: 0.5rem 0 0 0.5rem;
}

.new-form .checkbox-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.new-form .checkbox {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  margin: 0 0 0 1rem;
}

/* -------------------------- ADMIN SECTION   -------------------------------*/

.new-form___admin {
  width: 80rem;
  max-width: 90%;
  margin: 5rem auto;
  text-align: center;
}

.new-form___admin h2 {
  font-size: 6rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
}

.new-form___admin span {
  background-image: radial-gradient(
    circle at 120.71% 50%,
    #fc5dc9 0,
    #d955c1 16.67%,
    #b34cb2 33.33%,
    #8b409e 50%,
    #653488 66.67%,
    #442a74 83.33%,
    #272161 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* -------------------------- ADMIN SECTION   -------------------------------*/
