.card {
  margin: 5rem auto;

  background: white;
  height: fit-content;
  max-width: 40rem;
  width: 80%;
  border-radius: 15px;
  border: 1px solid rgb(218, 218, 218);
  offset: 10%;
}

.outer_card {
  margin: 2rem auto;
  height: 30rem;
  max-width: 60rem;
  width: 80%;
  border-radius: 20px;
  border: 1px solid rgb(218, 218, 218);
  offset: 10%;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border: 5px solid rgb(230, 228, 228);
}
